<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vc</key>
		<string>MoneyConvertVC</string>
		<key>title</key>
		<string>数字金额转为中文金额</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文件路径</string>
		<key>vc</key>
		<string>DirectoryPathVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>系统信息</string>
		<key>vc</key>
		<string>SystemInfoTVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扫码</string>
		<key>vc</key>
		<string>ScanCodeVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>定位</string>
		<key>vc</key>
		<string>LocationVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>格式化</string>
		<key>vc</key>
		<string>Formatter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UIColor和UIImage</string>
		<key>vc</key>
		<string>ColorAndImageVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>View层级调整</string>
		<key>vc</key>
		<string>ViewHierarchyVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通讯录</string>
		<key>vc</key>
		<string>AddressListTVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CoreGraphics</string>
		<key>vc</key>
		<string>GraphicsVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>安全集合</string>
		<key>vc</key>
		<string>SafeCollectionVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ScrollView使用分类</string>
		<key>sb</key>
		<string>ScrollViewUsefulVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>录音</string>
		<key>sb</key>
		<string>AudioRecorder</string>
	</dict>
	<dict>
		<key>title</key>
		<string>资源选择器</string>
		<key>sb</key>
		<string>AssetsPicker</string>
	</dict>
	<dict>
		<key>title</key>
		<string>归档</string>
		<key>vc</key>
		<string>ArchiverVC</string>
	</dict>
</array>
</plist>
